{% extends 'aaa_layout.html' %}
{% load static %}
{% load humanize %}
{% load call_method %}
{% block links %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />

{% endblock links %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li>
					<a href="#">
					<em class="fa fa-home"></em>
				    </a>
			    </li>
				<li>Products</li>
                <li class="active">Offers</li>
			</ol>
		</div><!--/.row-->
       <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Offers</h1>
			</div>
	   </div><!--/.row-->
       <!-- Modal -->
        <div class="modal fade" id="addoffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                 <form action="{% url 'ShoppyAdmin:adding_offers' %}" method="post">
                     {% csrf_token %}
                      <div class="form-group has-success has-feedback">
                        <label class="col-sm-2 control-label" for="offer">
                        Offer</label>
                        <div class="col-sm-10">
                          <input style="width: 100%" required name="offer" type="text" class="form-control" id="offer">
                          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                      </div>
                      <div style="width: 100%;" class="form-group has-feedback row col-sm-12 ">
                          <label class="control-label" for="product">Product</label> <br>
                          <select required name="product" id="product" class="selectpicker w-100" style="width: 100%;" data-show-subtext="true" data-live-search="true">
                                <option value="">Choose a product</option>
                              {% for product in products %}
                                  {% if not product.id|if_product_is_on_offer %}
                                      <option class="text-capitalize" id="sel1" data-subtext="{{ product.brand }}" value="{{ product.id }}">
                                          {{ product.name }} {{ product.id }} - {{ product.unit_cost_inclusive_of_vat }} Ksh
                                      </option>
                                  {% endif %}
                              {% endfor %}
                          </select>
                      </div>
                      <div class="form-group has-feedback col-sm-12 py-3" style="width: 100%;">
                          <label class="control-label py-2" for="discount">Offer Price</label>
                          <div class="form-group row" style="margin-left: 9px;">
                              <input required id="discount" type="number" name="discount" class="form-control">
                          </div>
                      </div>



                      <div class="form-group has-success has-feedback">
                        <label class="col-sm-2 control-label text-capitalize" for="duration">
                        Start Date</label><br>
                        <div class="col-sm-10">
                          <input required name="start_time" type="date" class="form-control" id="duration">
                          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                      </div>
                      <div class="form-group has-success has-feedback">
                        <label class="col-sm-2 control-label text-capitalize" for="duration">
                        End Date</label><br>
                        <div class="col-sm-10">
                          <input required name="end_time" type="date" class="form-control" id="duration">
                          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                      </div>

                     <div style="margin-top: 18px;padding: 20px 5px">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-success">Save changes</button>
                     </div>
                  </form>
              </div>

            </div>
          </div>
        </div>
            {% for offer in offers %}
            <!-- The Modal -->
            <div class="modal" id="de{{ offer.id }}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                   Are You Sure You Want To Delete {{ offer.product.name|truncatechars:30 }}
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                      <a class="btn btn-danger" href="{% url 'ShoppyAdmin:delete_offer' offer.id%}"><i class="fas fa-trash"></i> Delete</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>
            {% endfor %}

       <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-warning-custom">
                            Offer
                            <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
                            {% if request.user|is_seller %}
                            <a href="#" class="btn-success btn pull-right" data-toggle="modal" data-target="#addoffer">Add Offer</a>
                            {% endif %}
                        </div>

                        <div class="panel-body">
                            <div class="canvas-wrapper">
                                <div class="main-chart" id="line-chart" height="200" width="600">
                                {% if request.user|is_seller %}
                                    {% if offers %}
                                        <table id="examplz" class=" table table-striped table-bordered" >
                                            <thead>
                                                <tr class="text-capitalize">
                                                    <th>Id</th>
                                                    <th>Product</th>
                                                    <th>Name</th>
                                                    <th>Initial Price</th>
                                                    <th>Current Price</th>
                                                    <th>Offer</th>
                                                    <th>Discount</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Created At</th>
                                                    {% if request.user|is_seller %}
                                                    <th>Action</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for offer in offers %}
                                                    <tr class="text-center ">
                                                        <td class="tb-data">{{ offer.id }}</td>
                                                        <td style="width: 116px"  class="tb-data">
                                                            <div class="product-image" style="position: relative;">
                                                               <img src="{{ offer.product.featured_url.url }}" alt="{{ offer.product.name }}">
                                                            </div>


                                                        </td>
                                                        <td class="tb-data">{{ offer.product.name }}</td>
                                                        <td class="tb-data">{{ offer.product.unit_cost|floatformat:2|intcomma }}</td>
                                                        <td class="tb-data">{{ offer.product.price_after_offer|floatformat:2|intcomma }}</td>
                                                        <td class="tb-data">{{ offer.offer }}</td>
                                                        <td class="tb-data">{{ offer.offer_percentage }}%</td>
                                                        <td class="tb-data">{{ offer.start_time|date:"d,D M,Y" }}</td>
                                                        <td class="tb-data">{{ offer.end_time|date:"d,D M,Y" }}</td>
                                                        <td class="tb-data">{{ offer.created_at }}</td>
                                                        {% if request.user|is_seller %}
                                                        <td class="tb-data">
                                                            <a href="" data-toggle="modal" data-target="#of{{ offer.id }}" class="btn btn-success"><i class="fas fa-pencil-alt"></i> Edit</a>
                                                            <a href="" data-toggle="modal" data-target="#de{{ offer.id }}" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    {% endif %}
                                {% else %}
                                    {% if all_offers %}
                                        <table id="examplz" class=" table table-striped table-bordered" >
                                            <thead>
                                                <tr class="text-capitalize">
                                                    <th>Id</th>
                                                    <th>Product</th>
                                                    <th>Name</th>
                                                    <th>Initial Price</th>
                                                    <th>Current Price</th>
                                                    <th>Offer</th>
                                                    <th>Discount</th>
                                                    {% if not request.user|is_seller %}
                                                       <th>Seller</th>
                                                    {% endif %}
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Created At</th>
                                                    {% if request.user|is_seller %}
                                                    <th>Action</th>
                                                    {% endif %}

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for offer in all_offers %}
                                                    <tr class="text-center ">
                                                        <td class="tb-data">{{ offer.id }}</td>
                                                        <td style="width: 116px"  class="tb-data">
                                                            <div class="product-image" style="position: relative;">
                                                               <img src="{{ offer.product.featured_url.url }}" alt="{{ offer.product.name }}">
                                                            </div>
                                                        </td>
                                                        <td class="tb-data">{{ offer.product.name }}</td>
                                                        <td class="tb-data">{{ offer.product.unit_cost|floatformat:2|intcomma }}</td>
                                                        <td class="tb-data">{{ offer.product.price_after_offer|floatformat:2|intcomma }}</td>
                                                        <td class="tb-data">{{ offer.offer }}</td>
                                                        <td class="tb-data">{{ offer.discount }}%</td>
                                                        {% if not request.user|is_seller %}
                                                            <td class="tb-data">{{ offer.product.seller.first_name }} {{ offer.product.seller.last_name }} </td>
                                                        {% endif %}
                                                        <td class="tb-data">{{ offer.start_time|date:"d,D M,Y" }}</td>
                                                        <td class="tb-data">{{ offer.end_time|date:"d,D M,Y" }}</td>
                                                        <td class="tb-data">{{ offer.created_at }}</td>
                                                        {% if request.user|is_seller %}
                                                        <td class="tb-data">
                                                            <a href="" data-toggle="modal" data-target="#of{{ offer.id }}" class="btn btn-success"><i class="fas fa-pencil-alt"></i> Edit</a>
                                                            <a href="" data-toggle="modal" data-target="#de{{ offer.id }}" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        {% for offer in offers %}
            <!-- Edit Offer Modal -->
            <div class="modal fade" id="of{{ offer.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-capitalize" id="exampleModalLongTitle">Edit Offer {{ offer.product.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                     <form action="{% url 'ShoppyAdmin:edit_offers' offer.id %}" method="post">
                         {% csrf_token %}
                          <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label" for="offer">
                            Offer</label>
                            <div class="col-sm-10">
                              <input value="{{ offer.offer }}" style="width: 100%" required name="offer" type="text" class="form-control" id="offer">
                              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                          </div>
                          <div class="form-group has-feedback col-sm-12 py-3">
                              <label class="control-label py-2" for="discount">Discount</label>
                              <div class="slider-container" style="margin-left: 9px;">
                                <button class="btn-num-product-down slider-contents slider-contents-control border-right"><i class="fas fa-minus"></i></button>
                                <input   required  name="discount"  id="discount" value="{{ offer.discount }}" class="slider-contents slider-contents-center num-product d-flex justify-content-center align-items-center slider_count" type="number"  >
                                <button class="btn-num-product-up slider-contents slider-contents-control border-left"><i class="fas fa-plus"></i></button>
                              </div>
                          </div>

                          <div style="width: 100%;" class="form-group has-feedback  col-sm-12 ">
                              <label class="control-label" for="product">Product</label> <br>
                              <select required name="product" id="product" class="selectpicker " style="width: 100%;" data-show-subtext="true" data-live-search="true">
                                  {% for product in products %}
                                       <option {% if  offer.product.id == product.id  %} selected {% endif %} class="text-capitalize" id="sel1" data-subtext="{{ product.brand }}" value="{{ product.id }}">{{ product.name }} {{ product.id }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label text-capitalize" for="duration">
                            Start Date</label><br>
                            <div class="col-sm-10">
                              <input value="{{ offer.start_time|date:'Y-m-d' }}" required name="start_time" type="date" class="form-control" id="duration">
                              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                          </div>
                          <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label text-capitalize" for="duration">
                            End Date</label><br>
                            <div class="col-sm-10">
                              <input value="{{ offer.end_time|date:'Y-m-d' }}" required name="end_time" type="date" class="form-control" id="duration">
                              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                          </div>

                         <div style="margin-top: 18px;padding: 20px 5px">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                             <button type="submit" class="btn btn-success">Save changes</button>
                         </div>
                      </form>
                  </div>

                </div>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('.btn-num-product-down').on('click', function(e){
        e.preventDefault();
        var numProduct = Number($(this).next().val());
        if(numProduct > 1) $(this).next().val(numProduct - 1);
        });

        $('.btn-num-product-up').on('click', function(e){
            e.preventDefault();
            var numProduct = Number($(this).prev().val());
            $(this).prev().val(numProduct + 1);
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#examplz').DataTable();
        } );
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
{% endblock scripts %}