{% extends 'aaa_layout.html' %}
{% load static %}
{% load humanize %}
{% load call_method %}
{% block links %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />

{% endblock links %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li>
					<a href="#">
					<em class="fa fa-home"></em>
				    </a>
			    </li>
				<li class="active">Orders</li>
			</ol>
		</div><!--/.row-->
       <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Orders</h1>
			</div>
		</div><!--/.row-->

        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-warning-custom">
                            Orders

                            <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
                            <div class="panel-body">
                            <div class="canvas-wrapper">
                                <div class="main-chart" id="line-chart" height="200" width="600">
                                        <div class="main-chart" id="line-chart" height="200" width="400">
                                         {% if not request.user|is_seller %}
                                            <div class="col-sm-12 col-md-12 mb-2" style="margin-bottom: 30px;">
                                                <form action="{% url 'ShoppyAdmin:shoppy-admin-orders' %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="row d-flex " style="flex-direction: column;">
                                                        <h2>Filter orders by seller</h2>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                              <label for="sel1">Select Seller:</label>
                                                              <select name="seller" required class="selectpicker form-control" id="sel1" data-show-subtext="true" data-live-search="true">
                                                                  <option selected disabled > Choose a Seller </option>
                                                                {% for seller in seller %}
                                                                    <option class="text-capitalize" value="{{ seller.id }}">{{ seller.first_name }} {{ seller.last_name }}</option>
                                                                {% endfor %}
                                                              </select>
                                                            </div>
                                                        </div>


                                                        <div class="col-sm-2">
                                                            <button class="btn btn-success">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            {% endif %}
                                        {% if request.user|is_seller %}
                                           {% if buyer_orders %}
                                               <table id="" class="example table table-striped table-bordered" style="">
                                                    <thead>
                                                        <tr class="text-capitalize">
                                                            <th>#</th>
                                                            <th>Buyer</th>
                                                            <th>Phone Number</th>
                                                            <th>Numbers of Products</th>
                                                            <th>Order_number</th>
                                                            <th>Region</th>
                                                            <th>Address</th>
                                                            <th>Total</th>
                                                            <th>Payment Status</th>
                                                            <th>Created At</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for buyer_order in buyer_orders %}
                                                            <tr class="text-center ">
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ buyer_order.buyer.last_name }} {{ buyer_order.buyer.first_name}}</td>
                                                                <td>{{ buyer_order.buyer.phone_number}}</td>
                                                                <td>
                                                                    {{ buyer_order.reference_code|seller_buyer_quantities }}
                                                                </td>
                                                                <td>
                                                                    {{ buyer_order.reference_code }}

                                                                </td>
                                                                <td>{{ buyer_order.delivery.name }}</td>
                                                                <td>{{ buyer_order.address }}</td>
                                                                <td>
                                                                    {{ buyer_order.total|floatformat|intcomma }} Ksh
                                                                </td>
                                                                <td>
                                                                    {% if buyer_order.status == 'PAID' %}
                                                                        <span class="text-success">{{ buyer_order.status }}</span>
                                                                    {% elif buyer_order.status == 'PENDING' %}
                                                                        <span class="text-danger">{{ buyer_order.status }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {{ buyer_order.created_at|naturaltime }}
                                                                </td>

                                                                <td>
                                                                    <a href="{% url 'ShoppyAdmin:shoppy-buyer_orders' buyer_order.reference_code %}" class="btn btn-success"><i class="fas fa-pencil-alt"></i> View</a>
                                                                    <a href="#" data-toggle="modal" data-target="#rd{{ buyer_order.id }}" class="btn btn-danger"><i class="fas fa-trash " style="padding-right: 2px"></i>Cancel Order</a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}

                                                    </tbody>
                                               </table>
                                           {% else %}
                                                <div class="row mt-2 d-flex justify-content-center align-content-center align-items-center">
                                                     <div class="col-sm-3" style="height: 500px; width: 474px; border: none;margin: 20px; overflow: hidden; text-align: center;">
                                                         <h1>No Orders For You</h1>
                                                         <img class="img-fluid w-100 h-100" src="{% static 'img/no wishlist image/nowishlist.png' %}" alt="">
                                                     </div>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {% if adminorders %}
                                            <table id="" class="example table table-striped table-bordered" style="">
                                                <thead>
                                                    <tr class="text-capitalize">
                                                        <th>#</th>
                                                        <th>Image</th>
                                                        <th>Product</th>
                                                        <th>Seller</th>
                                                        <th>Buyer</th>
                                                        <th>Phone Number</th>
                                                        <th>Created At</th>
    {#                                                    <th>Action</th>#}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for order in adminorders %}
                                                        <tr class="text-center ">
                                                            <td class="tb-data">{{ forloop.counter}}</td>
                                                            <td class="tb-data tb-data" style="width: 110px;">
                                                                <div class="product-image">
                                                                   <img src="{{ order.product.featured_url.url }}" alt="">
                                                                </div>
                                                            </td>
                                                            <td class="tb-data text-capitalize">{{ order.product.name|truncatechars:19 }}</td>
                                                            <td class="tb-data text-capitalize">{{ order.product.seller.first_name }} {{ order.product.seller.last_name }}</td>
                                                            <td class="tb-data text-capitalize">{{ order.buyer.first_name }}</td>
                                                            <td class="tb-data text-capitalize">{{ order.buyer.phone_number }}</td>
                                                            <td class="tb-data">{{ order.created_at|naturaltime }}</td>
    {#                                                        <td class="tb-data">#}
    {#                                                            <a href="" class="btn btn-brown">Undelivered</a>#}
    {#                                                            <a href="" class="btn btn-success"><i class="fas fa-pencil-alt"></i> Edit</a>#}
    {#                                                        </td>#}
                                                        </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                            {% else %}
                                                <div class="row mt-2 d-flex justify-content-center align-content-center align-items-center">
                                                     <div class="col-sm-3" style="height: 500px; width: 474px; border: none;margin: 20px; overflow: hidden; text-align: center;">
                                                         <h1>No Orders</h1>
                                                         <img class="img-fluid w-100 h-100" src="{% static 'img/no wishlist image/nowishlist.png' %}" alt="">
                                                     </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('.example').DataTable();
        } );
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
{% endblock scripts %}