{% extends 'aaa_layout.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
{% endblock links %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	   <div class="row">
			<ol class="breadcrumb">
				<li>
					<a href="#">
					<em class="fa fa-home"></em>
				    </a>
			    </li>
				<li class="active">UserAccount</li>
				<li class="active">Change Password</li>
			</ol>
		</div><!--/.row-->
       <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Change Password</h1>
			</div>
		</div><!--/.row-->

       <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-warning-custom">
                        Change Password
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        <div class="canvas-wrapper">
                            <div class="main-chart" id="line-chart" height="200" width="600">
                                <div class="content-section-user Account">
                                    <h2 class=" page-header py-4">Password Change</h2>
                                        <form class="needs-validation" novalidate action="{% url 'ShoppyAdmin:shoppy-changepassword' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="col-sm-12 py-5 " style="display: flex; flex-direction: column;">
                                                <div class="col-md-12 mb-3" style="margin-bottom: 10px;">
                                                  <label for="validationCustom04"> Current Password</label>
                                                  <input type="password" name="old_password" class="form-control" id="validationCustom04" placeholder=" Current Password" required>
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                      Your password must be 8-20 characters long, contain letters and numbers.
                                                    </small>
                                                </div>

                                                <div class="col-md-12 mb-3" style="margin-bottom: 10px;">
                                                  <label for="validationCustom05">New Password</label>
                                                  <input name="new_password1" type="password" class="form-control" id="validationCustom05" placeholder="New Password" required>
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                      Your password must be 8-20 characters long, contain letters and numbers.
                                                    </small>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                  <label for="validationCustom05">Retype Password</label>
                                                  <input name="new_password2" type="password" class="form-control" id="validationCustom05" placeholder="Retype Your Password" required>
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                      Your password must be 8-20 characters long, contain letters and numbers.
                                                    </small>
                                                </div>
                                            </div>
                                            <button style="margin: 20px 26px;" class="btn btn-success " type="submit">Save</button>
                                        </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div><!--/.row-->
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
{% endblock scripts %}